<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Software Eureka</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>Contact.html</welcome-file>
    <welcome-file>Portfolio.html</welcome-file>
    <welcome-file>Tips-and-tricks.html</welcome-file>
  </welcome-file-list>
  
  <!-- Visit Counter -->
  <servlet>
	<servlet-name>Counter</servlet-name>
	<servlet-class>xyz.eureka.software.counter.Counter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Counter</servlet-name>
  	<url-pattern>/visit</url-pattern>
  </servlet-mapping>
  
  <!-- Status Page -->
  <servlet>
	<servlet-name>Manager</servlet-name>
	<servlet-class>xyz.eureka.software.manager.StatReader</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Manager</servlet-name>
  	<url-pattern>/status</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
</web-app>